{% extends 'base.html.twig' %}

{% block title %}Modifier Horaires{% endblock %}

{% block body %}
    <h1>Modifier Horaires</h1>

    {{ include('schedule/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_schedule_index') }}">back to list</a>

    {# {{ include('schedule/_delete_form.html.twig') }} #}
{% endblock %}
