@font-face { 
    font-family: LiberationSans-Regular; 
    src: url('../../Police/LiberationSans-Regular.ttf');
}
main {
    max-width: 100%;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.picture {
    display: flex;
}
h1 {
    margin: 2px;
    font-size: 20px;
}
.affichage-vehicule {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.vehicule {
    padding: 6px;
    max-width: 90vw;
    width: 90vw;
    align-self: center;
    border-radius: 15px;
    box-shadow: 4px 4px 10px #656565;
}
.vehicule-content-img {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.vehicule-img {
    width: 100%;
    border-radius: 8px;
}
.vehicule-titre {
    padding: 4px;
}
.vehicule-affichage {
    background-color: #F2EEEE;
    padding: 4px;
    max-width: 500px;
    height: fit-content;
    border-radius: 5px;
    box-shadow: 1px 1px 8px #4d4d4d;
}
p {
    margin: 2px;
}
h2 {
    margin-top: 4px; margin-bottom: 0px;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.infos-suplementaire {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.infos-style {
    color: #666666;
}
.infos-suplementaire__colonne {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.infos-suplementaire__colonne__style {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.autres-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.autres-infos > p, .autres-infos__titre {
    align-self: center;
}
.autres-infos__titre {
    font-family: LiberationSans-Regular;
}
.btn-car {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.formulaire-vehicule {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6px;
}
.formulaire-btn-vehicule {
    color: #7C0000;
    justify-self: center;
    text-align: center;
    align-self: center;
}
.formulaire-btn-vehicule:hover {
    color: #d60606;
}
.form-filtre {
    margin: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filtre-prix, .filtre-killometrage, .filtre-anneeMiseEnCirculation {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.filtre-prix__affichage, .filtre-killometrage__affichage, .filtre-anneeMiseEnCirculation__affichage {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;
}
.serialisation {
    margin: 4px;
    align-self: center;
}
.def {
    width: fit-content;
}

@media screen and (min-width: 1000px) {
    main {
        width: 100%;
        min-width: 400px;
        height: min-content;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .affichage-vehicule {
        padding-left: 0.5vw; padding-bottom: 0.5vw;
        width: calc(100% - 1vw);
        height: min-content;
        display: flex;
        flex-direction: row;
        justify-content: start;
        flex-wrap: wrap;
        gap: 0.5vw;
    }
    .vehicule {
        max-width: 100%;
        width: 30.5vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 15px;
        box-shadow: 4px 4px 10px #656565;
    }
    section {
        width: fit-content;
    }
    .affichage-picture {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
}