@font-face { 
    font-family: LiberationSans-Regular; 
    src: url('../../Police/LiberationSans-Regular.ttf');
}
.picture {
    display: none;
}
body {
    font-family: LiberationSans-Regular;
    margin: 5px;
    font-size: 16px;
    font-weight: 400;
}
header {
    margin: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
h1 {
    margin: 2px;
    font-size: 20px;
}
.ajouter {
    background-color: #1DCD1A;
    color: #000000;
    padding-left: 4px; padding-right: 4px;
    padding-top: 3px;
    width: fit-content;
    height: 30px;
    border-radius: 5px;
    align-self: center;
    font-size:  20px;
    border: 1px solid #808080;
    text-decoration: none;
}
.ajouter:hover {
    background-color: #1ab518;
}
.ajouter:focus {
    background-color: #19a217;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}
p {
    margin: 0px;
    margin-top: 4px; margin-bottom: 4px;
}
.serves-affichage {
    width: 350px;
    padding: 6px;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 5px;
}
.serves-affichage__serveName {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}
.serves-affichage__delete {
    justify-content: center;
}
.serves-affichage__serveName-description, .serves-affichage__description-description {
    font-weight: 600;
}
.serves-affichage__button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.btn-supprimer {
    background-color: #E3401C;
    color: #000000;
    margin: 0px;
    padding-left: 4px; padding-right: 4px;
    padding-top: 3px; padding-bottom: 4px;
    width: fit-content;
    border-radius: 5px;
    align-self: center;
    font-size:  16px;
    align-self: center;
}
.btn-supprimer:hover {
    background-color: #d63d1b;
}
.btn-modifier {
    background-color: #fcd743;
    color: #000000;
    margin: 0px;
    padding-left: 4px; padding-right: 4px;
    padding-top: 3px; padding-bottom: 4px;
    width: fit-content;
    border-radius: 5px;
    align-self: center;
    font-size:  16px;
    text-decoration: none;
}
.btn-modifier:hover {
    background-color: #e6c43f;
}
.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.page-non-courante {
    color: #7c7c7c;
    text-decoration: none;
}

@media screen and (min-width: 1000px) {
    body {
        min-height: calc(100vh - 16px);
        height: fit-content;
        font-size: 18px;
        margin: 8px;
    }
    header {
        margin: 8px;
    }
    h1, .btn-ajouter {
        font-size: 24px;
    }
    main {
        padding: 5px;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        justify-content: start;
    }
    .serves-affichage {
        padding: 6px;
        width: 31%;
    }
    footer {
        width: calc(100% - 16px);
        position: absolute;
        bottom: 0;
        justify-self: center;
    }
}